<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/ImagemDeAba.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Portifólio Marcelo</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/FotoPerfil.jpeg" alt="Foto Marcelo">
            <h1>Marcelo Pereira</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/marcelo-victor-pereira-74571478/">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/marcelovictorp/">
                    <i class="bi bi-instagram"></i>
                </a>
                <a target="_blank" href="https://github.com/mgvictor123456">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </section>
        
        <nav id='navbar' class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house-fill" aria-hidden="true"></i>Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre"><i class="bi bi-person-fill" aria-hidden="true"></i>Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidade"><i class="bi bi-list-check" aria-hidden="true"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-text-fill" aria-hidden="true"></i>Curriculo</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portifolio"><i class="bi bi-collection-fill" aria-hidden="true"></i>Portifólio</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope-fill" aria-hidden="true"></i>Contato</a>
                  </li>
              </ul>

        </nav>
    </aside>
    
    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center aline-items-center flex-column">
                <h2 class="text-white text-shadow">Marcelo Pereira</h2>
                <span id="subtitle" class="text-white">Estudante, Laboratorista e Desenvolvedor</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                </div>
                <a href="#sobre">Arraste para informações</a>
            </div>

        </section>

        <section class="container mt-5" id='sobre'>
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre</h2>
                    <p>Acredito que em todo momento de nossas vidas a técnologia avoluiu e continuara a evoluir de uma forma até que não possamos mais acompanhar, é por este motivo que profissionais que já estão exercendo sua qualificação acabam se deparando com novos profissionais mais aptos ao mercado. Creio que todo conhecimento não é vago mas sim uma literatura a ser passada como um legado, para que no momento das dificuldades todos possam caminhar um caminho que já possua uma resolução, mas também vejo que dentro das provas e dos desaios são onde se formam e se mantem de pé aqueles que amam o que fazem. Como desenvolvedor e criador de conteudos reconheço que não sei todos os caminhos e tenho o carater de saber o momento de pedir auxilio assim como discernir o momento de ajudar quem esta começando a trilhar este caminho.</p>

                </div>


            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/FotoPerfil.jpeg" alt="Foto Marcelo" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Laboratorista</h3>
                    <p>Atualmente sou laboratorista de laboratório quimico e areias, dentro de uma empresa metalurgica, realiso ensaios de rotina com areias de moldagem e areias de macharia, auxilio na inspeção de matérias primas em seu recebimento, assim como auxilio no desenvolvimento de novas normas e ensaios para serem utilizados dentro de nosso embiente de trabalho.</p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Niver: <span class="fw-light">13 de Junho de 1998</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-light">24 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-light">Joinville</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-light">Santa Catarina</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-light">PaintBall</span>
                                </li>
                                <li class="list-group-item">
                                    Estado Civil: <span class="fw-light">Casado</span>
                                </li>
                                <li class="list-group-item">
                                    Interesse: <span class="fw-light">Viajar para Europa</span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho atual: <span class="fw-light">Laboratorista Quimico/Areais</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>Além de meu atual trabalho, hoje estudo Engenharia de Software, e busco adquirir todo conhecimento para poder me desenvolver dentro do mercado de trabalho da tecnologia e poder exercer a profissão com exelência</p>


                </div>
            </div>
        </section>
        <section class="mt-5 section-bg" id="habilidade">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo meu tempo de estudo fui desenvolvendo algumas habilidades em alguns pacotes e alguns sistemas, a maioria destas estarão aqui, de acordo com a porcentagem de conhecimento que eu acredito ter para cada.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" data-anime="left" aria-valuemin="0" aria-valuemax="100">30%</div>
                          </div>
                        <p class="mt-3 mb-0">PYTHON</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 35%;" aria-valuenow="35" data-anime="left" aria-valuemin="0" aria-valuemax="100">35%</div>
                          </div>
                        <p class="mt-3 mb-0">JAVASCRIPT</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="40" data-anime="left" aria-valuemin="0" aria-valuemax="100">40%</div>
                          </div>
                        <p class="mt-3 mb-0">LIDERANÇA</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 55%;" aria-valuenow="55" data-anime="left" aria-valuemin="0" aria-valuemax="100">55%</div>
                          </div>
                    </div>
                    
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">NodeJS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 20%;" aria-valuenow="20" data-anime="left" aria-valuemin="0" aria-valuemax="100">20%</div>
                          </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" data-anime="left" aria-valuemin="0" aria-valuemax="100">30%</div>
                          </div>
                        <p class="mt-3 mb-0">PostgreSQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 35%;" aria-valuenow="35" data-anime="left" aria-valuemin="0" aria-valuemax="100">35%</div>
                          </div>
                        <p class="mt-3 mb-0">MongoDB</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" data-anime="left" aria-valuemin="0" aria-valuemax="100">25%</div>
                          </div>
                        
                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>

                        </div>

                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                             
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
    
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>

                        </div>

                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                             
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Curriculo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Engenharia de Software</h4>
                            <h5>2021 - 2025</h5>
                            <p><em>UNINTER</em></p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Técnico em Suporte e Manutenção em Computadores e Redes</h4>
                            <h5>2014 - 2015</h5>
                            <p><em>SENAI-SC</em></p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Gestão de Serviços Juridicos e Notoriais</h4>
                            <h5>2016 - 2018</h5>
                            <p><em>UNINTER</em></p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3>Profissional</h3>

                        <div class="cv-item" data-anime="up">
                            <h4>Laboratorista</h4>
                            <h5>2018 - Atualmente</h5>
                            <p><em>TUPY</em></p>
                            <p>Realização de ensaios de rotina, desenvolvimento de normas e de novos ensaios.</p>

                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Estagio</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>DINAMIO</em></p>
                            <p>Auxiliar em monitoramento de servidores e prestadores de rede, auxiliando em reboots e configurações de servidores.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Aprendiz Industrial</h4>
                            <h5>2013 - 2013</h5>
                            <p><em>FGM</em></p>
                            <p>Auxiliar de inspeção de qualidade, realizava ensaios para verificar a qualidade de matérias primas chegadas na empresa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="portifolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portifólio</h2>
                <div>
                    <div id="carouselPortifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                  <div class="card">
                                    <img src="../static/img/DashBoard.png" class="card-img-top img-fluid w-100" alt="exemplo">
                                    <div class="card-body">
                                      <h5 class="card-title">ProtejoEUAX</h5>
                                      <p class="card-text">Durante um processo seletivo para a empresa EUAX fui desafiado a realizar a criação de uma DashBoard, para realizar o monitoramento de como esta a situação continua de meu projetos.</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/mgvictor123456/desafioEUAX.git" target='__blank' class="btn btn-outline-dark-me-3"><i class="bi bi-github"></i></a>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          </div>

                          <div class="carousel-item" data-bs-interval="2000">
                            
                          </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>

            </div>
        </section>
        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereço">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Joinville, Santa Catarina</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-geo-alt"></i> Email:</h4>
                                <p>mg-victor@hotmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3576.121060280712!2d-48.84234288541566!3d-26.322579175188068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94deb0fe09d09207%3A0xec8241fb757501e3!2sR.%20Florian%C3%B3polis%2C%20100%20-%20Guanabara%2C%20Joinville%20-%20SC%2C%2089210-085!5e0!3m2!1spt-BR!2sbr!4v1659765491694!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" class='w-100' referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">email</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
                                </div>
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">mensagem</label>
                                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="6" placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                  <button type="submit" class="btn btn-primary">Enviar</button>
                                </div>
                              </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


    </main>
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>ProjetoPortifolio</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>